.container-registrasi {
  padding-left: 0;
  nav {
    background-color: transparent;
    .breadcrumb {
      background-color: transparent;
      .breadcrumb-item {
        a {
          color: #000222;
        }
      }

      .active {
        color: #263d89;
        font-weight: bold;
      }
    }
  }
}

.container-formulir {
  h1 {
    color: #ffcb04;
  }

  .data-diri {
    margin-bottom: 30px;
    // h3 {
    // }

    .form-data-diri {
      .row {
        .col-left {
          .form-group {
            label {
              max-width: 143px;
              span {
                color: red;
              }
            }
          }
        }

        .col-right {
          .form-group {
            label {
              span {
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .data-pendidikan {
    margin-bottom: 30px;

    .form-pendidikan {
      .row {
        .col-left {
          .form-group {
            label {
              max-width: 143px;
              span {
                color: red;
              }
            }
          }
        }

        .col-right {
          .form-group {
            label {
              span {
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .pengalaman-organisasi {
    margin-bottom: 30px;
    .card {
      padding: 10px;

      .form-pengalaman-organisasi {
        .row {
          .col-left {
            .form-group {
              label {
                max-width: 143px;
                span {
                  color: red;
                }
              }
            }
          }
  
          .col-right {
            .form-group {
              label {
                span {
                  color: red;
                }
              }
            }
          }
        }
      }

    }
  }

  .keahlian {
    margin-bottom: 30px;
    .form-keahlian {
      .row {
        .col-left {
          .form-group {
            label {
              // max-width: 143px;
              span {
                color: red;
              }
            }
          }
        }
      }
    }
  }
  
  .lain-lain {
    .form-lain-lain {
      .row {
        .col-left {
          .form-group {
            label {
              max-width: 143px;
              span {
                color: red;
              }
            }
          }
        }

        .col-rights {
          .form-group {
            label {
              // max-width: 143px;
              span {
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .sosial-media {
    margin-bottom: 30px;
    .form-sosial-media {
      .row {
        .col-left {
          .form-group {
            label {
              max-width: 143px;
              span {
                color: red;
              }
            }
          }
        }

        .col-rights {
          .form-group {
            label {
              // max-width: 143px;
              span {
                color: red;
              }
            }
          }
        }
      }
    }
  }


  .kenal {
    margin-bottom: 30px;
    .form-kenal {
      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .s-dan-k {
    .col {
      margin-bottom: 30px;

      .form-check {
        margin-bottom: 20px;
      }
    }
    
  }

  .row-button {
    button {
      background-color:#263d89 ;
      border: none;
    }
  }

}

.container-footer {
  margin-top: 50px;
  background-color: #263d89;
  color: #fff;
  padding-left: 65px;
  padding-right: 65px;

  .row {
    .col-left {
      margin-top: 20px;

      p {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .col-right {
      margin-top: 20px;
    }
  }
}
